body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #3E89D8;
    padding: 0;
    margin: 0;
}

code, pre {
    font-family: "Source Code Pro", Courier, monospace;
    background-color: #eee;
}

.clear {
    clear: both;
    font-family: 
}

#nav {
    background-color: rgba(255,255,255,.4);
    margin-bottom: 20px;
    padding: 5px;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    color: #777;
}

#skyrim-alchemy {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #fff;
}

#skyrim-alchemy h1 {
    margin: 0;
}

#alchemy-search {
    display: block;
    width: 20em;
    margin: 0 auto;
}

#ingredient-list-container, #workbench-container, #yield-container {
    float: left;
    width: 320px;
}

#workbench-container, #yield-container {
    margin-left: 20px;
}

#ingredient-list {
    height: 525px;
    overflow-y: auto;
}

#yield-container {

}

#workbench {
    height: 162px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: #f9faf1;
}

.ingredient {
    width: 300px;
    height: 50px;
    border: 1px solid #bbb;
    background-color: #fafafa;
    margin-bottom: 3px;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
}

.ingredient h4, .ingredient ul, .ingredient li {
    margin: 0;
    padding: 0;
    position: relative;
}

.ingredient h4 {
    margin-left: 5px;
}

.ingredient h4 span.id {
    float: right;
    margin-right: 5px;
    margin-top: 1px;
    color: #bbb;
    font-weight: normal;
    font-size: .9em;
    font-family: monospace;
}

.ingredient li {
    display: block;
    width: 130px;
    height: 17px;
    padding: 0 2px;
    margin-left: 10px;
    float: left;
    list-style: none;
    color: #096;
    font-size: .9em;
}

.ingredient li.poison {
    color: #700;
}

#yield ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#yield li{
    border: 1px solid #096;
    display: block;
    float: left;
    clear: left;
    margin-bottom: 1px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #A1E6CF;
}

#yield li.poison{
    border: 1px solid #700;
    background-color: #E6A1A1;
}